<div class="box">
  <!-- Video container (hidden on mobile) -->
  <div class="vid-container">
    <video src="https://github.com/pirgor/arcane/raw/refs/heads/main/public/assets/vids/banner.mp4" autoplay loop class="banner"></video>
    <div class="clips-container">
      <img src="https://github.com/pirgor/arcane/blob/main/public/assets/images/mme.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/public/assets/images/tl.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/public/assets/images/hitc.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/public/assets/images/stw.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/public/assets/images/cp.jpg?raw=true" />
    </div>
  </div>
  <div class="element-container">
    <div class="image-wrapper">
      <img class="img-fluid" src="https://github.com/pirgor/arcane/blob/main/public/assets/images/banner2.png?raw=true" />
      <img class="mobile-image" src="https://github.com/pirgor/arcane/blob/main/public/assets/images/pl.png?raw=true" alt="Mobile image" />
      <div class="overlay-text">
        <img src="https://github.com/pirgor/arcane/blob/main/public/assets/images/pl.png?raw=true" alt="Mobile image" />
      </div>
      <h2 class="overlay-text">IF YOU ARE READING THIS YOU ARE GAY</h2>
    </div>
  </div>
  <img class="overlay-element-logo" src="https://github.com/pirgor/arcane/blob/main/public/assets/images/arcane.png?raw=true" />
  <h2 class="overlay-text-logo">ARCANE SEASON 2 OUT NOW</h2>
</div>
