<div class="box">
  <div class="vid-container">
    <video src="https://github.com/pirgor/arcane/raw/refs/heads/main/src/assets/vids/banner.mp4" autoplay loop class="banner"></video>
    <div class="clips-container">
      <img src="https://github.com/pirgor/arcane/blob/main/src/assets/images/mme.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/src/assets/images/tl.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/src/assets/images/hitc.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/src/assets/images/stw.jpg?raw=true" />
      <img src="https://github.com/pirgor/arcane/blob/main/src/assets/images/cp.jpg?raw=true" />
    </div>
  </div>
  <img class="img-fluid" src="https://github.com/pirgor/arcane/blob/main/src/assets/images/banner2.png?raw=true" />
  <img class="overlay-element" src="https://github.com/pirgor/arcane/blob/main/src/assets/images/arcane.png?raw=true" />
  <h2 class="overlay-text">ARCANE SEASON 2 OUT NOW</h2>
</div>
