/* Banner Video */
.banner {
  top: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

/* Video container */
.vid-container {
  position: relative;
  width: 100%;
  height: 940px;
  overflow: hidden;
}

/* Video box shadow */
.vid-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  box-shadow: inset -13px -146px 81px -55px rgba(0, 0, 0, 0.75);
}

/* Video styling */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* Image styling */
img {
  max-width: 1920px;
  width: 100%;
  height: auto;
}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}
/* Box container for all elements */
.box {
  line-height: 0;
  position: relative;
}

/* Center the overlay elements */
.overlay-container {
  position: relative; /* Ensure that child elements can be positioned */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General overlay element */
.overlay-element {
  position: absolute;
  top: 70px;
  left: 10px;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-width: 320px;
}

.image-wrapper {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%; /* Vertically center */
  left: 50%; /* Horizontally center */
  transform: translate(-50%, -50%); /* Adjust to perfectly center */
  z-index: 2; /* Ensure text appears above the image */
  color: white;
  font-size: 60px; /* Adjust the font size as needed */
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 1), -1px -1px 0 rgba(0, 0, 0, 1),
  1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1);
  font-weight: bold;
  text-align: center;
}

.overlay-text img {
  width: 70%; /* Make the image width 50% of the container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent any inline spacing around the image */
  margin: 0 auto; /* Ensure image is centered horizontally */
}

/* Overlay logo element */
.overlay-element-logo {
  position: absolute;
  top: 70px;
  left: 10px;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  max-width: 320px;
}

/* Overlay text for logo */
.overlay-text-logo {
  font-family: "Test Manuka", sans-serif;
  position: absolute;
  top: 200px;
  left: 45px;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  max-width: 250px;
  max-height: 50px;
  background-color: black;
  padding: 5px;
}

.clips-container {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 650px;
  left: 20px;
  right: 0;
  bottom: 0;
}

.clips-container img {
  max-width: 320px;
  transition: transform 330ms ease-in-out;
  margin-right: 20px;
}

.clips-container img:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.vid-container {
  position: relative;
  width: 100%;
  height: 940px;
  overflow: hidden;
}

.mobile-image {
  display: none;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  /* Show the mobile image and text on smaller screens */
  .mobile-image {
    display: block; /* Show the mobile image */
    width: 100%; /* Make sure the mobile image is responsive */
    height: auto;
  }

  .overlay-text {
    display: block; /* Show the overlay text */
    font-size: 24px; /* Adjust the font size as needed */
    color: white; /* Set text color */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  /* Hide other elements inside element-container */
  .vid-container,
  .overlay-element-logo,
  .overlay-text-logo,
  .img-fluid,
  .overlay-text img {
    display: none; /* Hide the non-mobile image */
  }
}
