<div class="box">
  <div class="vid-container">
    <video src="/assets/vids/banner.mp4" autoplay loop class="banner"></video>
    <div class="clips-container">
      <img src="/assets/images/mme.jpg" />
      <img src="/assets/images/tl.jpg" />
      <img src="/assets/images/hitc.jpg" />
      <img src="/assets/images/stw.jpg" />
      <img src="/assets/images/cp.jpg" />
    </div>
  </div>
  <img class="img-fluid" src="/assets/images/banner2.png" />
  <img class="overlay-element" src="/assets/images/arcane.png" />
  <h2 class="overlay-text">ARCANE SEASON 2 OUT NOW</h2>
</div>
